**/.git
**/.gitignore
**/.vscode
**/.idea
**/.vs
**/bin
**/obj
**/out
**/*.user
**/*.suo
**/node_modules
**/npm-debug.log
**/TestResults
**/tests
**/.editorconfig
**/README.md
**/LICENSE
**/.env
**/.env.*
**/docker-compose*
**/Dockerfile*
